<div class="wrapper">

  <div class="banner-index">
    <h1>Welcome to your lists!</h1>
  </div>

  <div class="list-index-content">
    <% @lists.each do |list| %>
      <%= link_to list_path(list) do %>
        <div class="list-card-index">
          <%= cl_image_tag("enter_the_dragen_avcxs0",
      width: 400, height: 300, crop: :fill) %>

        <div class="list-card-content">
          <p><%= list.name %></p>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>

</div>
